.main {
  position: relative;
}

.main button {
  cursor: pointer;
}

.contacts {
  margin: 5px 0 0 10px;
}

.card_house {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: 70px;
 
}

.footer {
  margin-block-start: 50px;
}