.main_wrapper {
 width: 55vw;
 min-height: 600px;
 background: rgba(60, 91, 176, 0.14);
 border-radius: 30px;
 margin-block-end: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background: rgba(22, 23, 26, 0.371);
  color: #fff;
  font-size: 24px;
  border-radius: 30px 30px 0 0;
  
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 30px;
  column-gap: 50px;
  background: rgba(69, 75, 102, 0.664);
}


.carusel img {
  width: 30vw;
  border-radius: 30px;

}

.info {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 50px;
  color:#fff;
  font-size: 18px;
  max-height: 55vh;
}

.info span {
  color: #bdbdbd;
}

.info div{
  display: flex;
  align-items: center;
  gap: 30px;
  min-height: 80px;
 
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #fff;
  background-color: rgba(38, 42, 51, 0.76);
  border-radius: 0 0 30px 30px;
  font-size: 18px;
}

.footer div{
  display: flex;
  align-items: center;
  gap:20px;
}

@media screen and (width < 1100px) {

.main_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.header {
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 20px 0;
}

.header{
  width: 100%;
}

  .image_container {
    display: flex;
    align-items: center;
  }

  .image_container img {
    width: 100%;
    
  } 

  .main {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;

  }

  .footer div{
    flex-direction: column;
    text-align: center;
  }
}