*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

body {
  background: linear-gradient(180.00deg, rgb(171, 176, 189),rgb(87, 106, 154),rgb(73, 83, 116),rgb(67, 80, 114),rgb(61, 73, 116) 100%);
  position: relative;
}